<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-text>

        <img src="/assets/images/logo.png" class="elemento1">><br><br><br><br>

        <ion-label class="titulo">¡Te damos la bienvenida a Passness!</ion-label><br><br>
        <ion-label class="sub">Podrás guardar todas tus contraseñas en un mismo lugar, fácil y gratis :)</ion-label><br><br><br><br>

        <ion-button color="light" shape="round" fill="outline" (click)="acceso()">ENTRAR</ion-button>

      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>